<div class="container">
	<h1>Shop Lists</h1>
	<div class="pull-left">
		<%= link_to 'new shop'.upcase, new_user_shop_path(current_user), class: 'btn btn-primary'%>
	</div>
	<div class="clearfix"></div>
	<br />
	<div class="col-md-10 col-md-offset-1">
		<% if current_user.shops.any? %>
			<%= render 'shop_list'%>
		<% else %>
		<div class="">
			<div class="">
				<p class="alert alert-danger">You don't have any shop yet</p>
			</div>
		</div>
		<% end %>
	</div>
</div>